<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>查询日期范围： </label>
                            <input type="text" class="time-input" id="startDate" placeholder="开始时间" name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endDate" placeholder="结束时间" name="endDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" href="javascript:void(0);"
                               onclick="searchData()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset();"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped" style="width: 100%;height:80%;">
            <div id="main" style="width: 100%;height:100%;"></div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/fac/fac_common.js}"></script>
<script th:src="@{/echarts/echarts.min.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "fac/order";
    var url = prefix + "/queryFacStaticInfo";

    // 初始化图表
    var initEChart = function (data) {
        var xAxis = data.staticXAxis;
        var seriesData = data.staticData;
        homepageOption.xAxis[0].data = xAxis;
        homepageOption.series[0].data = seriesData;

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(homepageOption);
    }

    // 搜索接口
    var searchData = function () {
        var data = {
            "startDate": $("#startDate").val(),
            "endDate": $("#endDate").val()
        }
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            success: function (result) {
                initEChart(result);
            }
        };
        $.ajax(config);
    }

    $(function () {
        // 首页统计相关数据展示
        searchData();
    });
</script>
</body>
</html>