<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="leavemessage">
                <div class="select-list">
                    <ul>
                        <li>
                            用户昵称：<input type="text" name="nickName"/>
                        </li>
                        <li>
                            用户留言：<input type="text" name="remark"/>
                        </li>
                        <li>
                            是否已经回复：
                            <select id="status" name="status">
                                <option value="">请选择...</option>
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </li>
                        <li>
                            留言回复：<input type="text" name="mngtRemark"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="fac:leavemessage:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:src="@{/fac/fac_common.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('fac:leavemessage:reply')}]];
    var prefix = ctx + "fac/leavemessage";

    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/edit/{id}",
            exportUrl: prefix + "/export",
            modalName: "用户留言",
            search: false,
            showExport: true,
            columns: [
                {
                    field: 'id',
                    title: '留言ID',
                    visible: true
                },
                {
                    field: 'nickName',
                    title: '用户昵称',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '留言时间',
                    sortable: true
                },
                {
                    field: 'remark',
                    title: '留言内容',
                    sortable: true
                },
                {
                    field: 'mngtRemark',
                    title: '留言回复',
                    width: 180,
                    sortable: true
                },
                {
                    field: 'updateTime',
                    title: '回复时间',
                    sortable: true
                },
                {
                    field: 'operatorName',
                    title: '操作人',
                    sortable: false
                },
                {
                    field: 'isDeleted',
                    title: '数据状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value) {
                            return "删除";
                        }
                        return "正常";
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs' + editFlag + '" href="#" onclick="openReplyDlg(\'' + row.id + '\')"><i class="fa fa-edit"></i>回复</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function openReplyDlg(leavemessageId) {
        var url = prefix + '/reply/' + leavemessageId;
        $.modal.open("回复留言", url, '650', '300');
    }
</script>
</body>
</html>