<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/fileinput/css/fileinput.min.css}" rel="stylesheet"/>
<link th:href="@{/mry/mry.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="mry-shop-add">
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">店面名称：</label>
            <div class="col-sm-9">
                <input id="name" name="name" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">店面地址：</label>
            <div class="col-sm-9">
                <input id="address" name="address" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">店面管理人员：</label>
            <div class="col-sm-9">
                <input id="shopMngt" name="shopMngt" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">店面管理人员手机号码：</label>
            <div class="col-sm-9">
                <input id="shopMngtPhone" name="shopMngtPhone" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">联系人1：</label>
            <div class="col-sm-9">
                <input id="contact1" name="contact1" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">联系人1手机号码：</label>
            <div class="col-sm-9">
                <input id="phoneNumber1" name="phoneNumber1" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">联系人2：</label>
            <div class="col-sm-9">
                <input id="contact2" name="contact2" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">联系人2手机号码：</label>
            <div class="col-sm-9">
                <input id="phoneNumber2" name="phoneNumber2" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="col-sm-3 control-label product-lable">开店日期：</label>
            <div class="col-sm-3 input-group date" style="margin-left: 15px;"><span class="input-group-addon"><i
                    class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="openTime" name="openTime" value="" placeholder="选择日期">
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="col-sm-3 control-label product-lable">日常营业开始时间：</label>
            <div class="col-sm-3 input-group date" style="margin-left: 15px;"><span class="input-group-addon"><i
                    class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="bizTimeStart" name="bizTimeStart" value="" placeholder="选择日期">
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-3 control-label product-lable">日常营业结束时间：</label>
            <div class="col-sm-3 input-group date" style="margin-left: 15px;"><span class="input-group-addon"><i
                    class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="bizTimeEnd" name="bizTimeEnd" value=""
                       placeholder="选择日期">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">备注：</label>
            <div class="col-sm-9">
                <textarea cols="80" id="remark" name="remark" rows="12" style="width: 100%;"></textarea>
            </div>
        </div>

        <div class="form-group" style="text-align: center;">
            <label class="col-sm-3 control-label product-lable" style="margin-bottom: 30px;"></label>
            <div class="col-sm-9" style="margin-bottom: 30px;">
                <button type="button" class="btn btn-success" onclick="addShop()">确定</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" onclick="closeCurrentTabMry('1')">取消</button>
            </div>
        </div>
    </form>

</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{/mry/mry_common.js}"></script>
<script>
    var prefix = ctx + "mry/shop";
    $(".input-group.date").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        todayBtn: "linked",
        keyboardNavigation: !1,
        forceParse: !1,
        calendarWeeks: !0,
        autoclose: !0,
        initialDate: new Date(),
        language: "zh-CN"
    });

    $("#mry-shop-add").validate({
        rules: {
            name: {
                required: true,
                maxlength: 500
            },
            address: {
                required: true,
                maxlength: 1512
            },
            shopMngt: {
                required: true
            },
            shopMngtPhone: {
                required: true
            },
            bizTimeStart: {
                required: true
            },
            bizTimeEnd: {
                required: true
            },
            openTime: {
                required: true
            }
        }
    });


    function addShop() {
        if ($.validate.form()) {
            $.modal.confirm("确认保存当前店面信息吗？", function () {
                var url = prefix + "/add";
                var data = $('#mry-shop-add').serialize();
                var config = {
                    url: url,
                    type: "post",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        // 重新加载店面主页面数据
                        refreshParentIFramePageMry(DATA_ID.SHOP);
                        // 关闭当前TAB页面
                        closeCurrentTabMry("");
                    }
                };
                $.ajax(config);
            });
        }
    }

    $(function () {

    });
</script>
</body>
</html>
