<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/fileinput/css/fileinput.min.css}" rel="stylesheet"/>
<link th:href="@{/fac/fac.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-product-edit" th:object="${product}">
        <input type="hidden" id="imgPath" name="imgPath" th:field="*{imgPath}"/>
        <input type="hidden" id="picture" name="picture" th:field="*{picture}"/>
        <input type="hidden" id="introductionEdit" name="introductionEdit"/>
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">商品名称：</label>
            <div class="col-sm-9">
                <input id="name" name="name" th:field="*{name}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">商品类目：</label>
            <div class="col-sm-9">
                <select id="categoryId" name="categoryId" class="form-control m-b" th:field="*{categoryId}"
                        th:with="productCategorys=${@pfs.getProductCategorys()}">
                    <option value="">请选择...</option>
                    <option th:each="pc : ${productCategorys}" th:text="${pc.name}" th:value="${pc.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">所属商家：</label>
            <div class="col-sm-9">
                <select id="businessId" name="businessId" class="form-control m-b" th:field="*{businessId}"
                        th:with="businesses=${@pfs.getBusinesses()}">
                    <option value="">请选择...</option>
                    <option th:each="bs : ${businesses}" th:text="${bs.name}" th:value="${bs.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">原价：</label>
            <div class="col-sm-9">
                <input id="originalPrice" name="originalPrice" th:field="*{originalPrice}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">抢购价：</label>
            <div class="col-sm-9">
                <input id="price" name="price" th:field="*{price}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">库存数量：</label>
            <div class="col-sm-9">
                <input id="inventoryQuantity" name="inventoryQuantity" th:field="*{inventoryQuantity}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">每人限购数量：</label>
            <div class="col-sm-9">
                <input id="limitQuantity" name="limitQuantity" th:field="*{limitQuantity}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">虚拟购买人(份)数：</label>
            <div class="col-sm-9">
                <input id="vmBuyerQuantity" name="vmBuyerQuantity" th:field="*{vmBuyerQuantity}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">分销奖金：</label>
            <div class="col-sm-9">
                <input id="distribution" name="distribution" th:field="*{distribution}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">奖励积分：</label>
            <div class="col-sm-9">
                <input id="bonusPoints" name="bonusPoints" th:field="*{bonusPoints}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-3 control-label product-lable">抢购开始时间：</label>
            <div id="rushStartDate" class="col-sm-3 input-group date" style="margin-left: 15px;"><span
                    class="input-group-addon"><i
                    class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="rushStart" name="rushStart" th:field="*{rushStartStr}"
                       value=""
                       placeholder="选择开始日期">
            </div>
            <label>至</label>
            <div class="col-sm-3 input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="rushEnd" name="rushEnd" th:field="*{rushEndStr}" value=""
                       placeholder="选择结束日期">
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-3 control-label product-lable">核销开始时间：</label>
            <div class="col-sm-3 input-group date" style="margin-left: 15px;"><span class="input-group-addon"><i
                    class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="writeoffStart" name="writeoffStart"
                       th:field="*{writeoffStartStr}" value=""
                       placeholder="选择开始日期">
            </div>
            <label>至</label>
            <div class="col-sm-3 input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="writeoffEnd" name="writeoffEnd" th:field="*{writeoffEndStr}"
                       value=""
                       placeholder="选择结束日期">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">发货方式：</label>
            <div class="col-sm-9">
                <label class="radio-box"> <input type="radio" name="shipMode" value="1"
                                                 th:checked="${product.shipMode == 1 ? true : false}"/> 送货上门 </label>
                <label class="radio-box"> <input type="radio" name="shipMode" value="2"
                                                 th:checked="${product.shipMode == 2 ? true : false}"/> 核销码 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">运费：</label>
            <div class="col-sm-9">
                <input id="shipCost" name="shipCost" th:field="*{shipCost}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">排序：</label>
            <div class="col-sm-9">
                <input id="sort" name="sort" th:field="*{sort}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">商品图片：</label>
            <div class="col-sm-9">
                <!--<form id="form" action="" method="post" enctype="multipart/form-data">-->
                <div class="row form-group">
                    <div class="panel panel-primary" style="margin-left: 16px;margin-right: 13px;">
                        <div class="panel-heading" align="center">
                            <label style="text-align: center;font-size: 18px;">图 片 上 传</label>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <input id="prodImgInput" name="file" multiple type="file" data-show-caption="true">
                            </div>
                        </div>
                    </div>
                </div>
                <!--</form>-->
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 25px;">
            <label class="col-sm-3 control-label product-lable">商品介绍：</label>
            <div class="col-sm-9">
                <textarea cols="80" id="spjs" name="spjs" rows="200" th:field="*{introduction}"
                          style="width: 100%;height: 120%;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">上架：</label>
            <div class="col-sm-9">
                <div class="onoffswitch">
                    <input type="checkbox" th:checked="${product.status == 1 ? true : false}"
                           class="onoffswitch-checkbox" value="1" id="status"
                           name="status">
                    <label class="onoffswitch-label" for="status">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group" style="text-align: center;">
            <label class="col-sm-3 control-label" style="margin-bottom: 30px;"></label>
            <div class="col-sm-9" style="margin-bottom: 30px;">
                <button type="button" class="btn btn-success" onclick="editProduct()">确定</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" onclick="previewProdInstruction()">预览</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" onclick="closeCurrentTab('1')">取消</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{/ajax/libs//ckeditor/ckeditor.js}"></script>
<script th:src="@{/fac/mry_common.js}"></script>
<script th:src="@{/ajax/libs//fileinput/js/fileinput.js}"></script>
<script th:src="@{/ajax/libs//fileinput/js/locales/zh.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "fac/product"
    $(".input-group.date").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        todayBtn: "linked",
        keyboardNavigation: !1,
        forceParse: !1,
        calendarWeeks: !0,
        autoclose: !0,
        initialDate: new Date(),
        language: "zh-CN"
    });

    $("#form-product-edit").validate({
        rules: {
            name: {
                required: true,
                maxlength: 500
            },
            categoryId: {
                required: true
            },
            businessId: {
                required: true
            },
            originalPrice: {
                required: true,
                number: true
            },
            price: {
                required: true,
                number: true
            },
            inventoryQuantity: {
                required: true,
                digits: true
            },
            limitQuantity: {
                required: true,
                digits: true
            },
            vmBuyerQuantity: {
                required: true,
                digits: true
            },
            distribution: {
                required: true,
                number: true
            },
            bonusPoints: {
                required: true,
                digits: true
            },
            shipCost: {
                number: true
            },
            sort: {
                required: true,
                digits: true
            }
        }
    });

    // 商品介绍内容预览
    var previewProdInstruction = function () {
        var introduction = CKEDITOR.instances.spjs.getData();
        if (introduction == undefined || introduction == "") {
            $.modal.alertError("请先填写当前商品介绍再预览！");
            return;
        }
        layer.open({
            title: '预览-商品介绍',
            area: ['1100px', '800px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            content: introduction,
            btn: ['确定'],
            yes: function (index, layero) {
                layer.close(index);
            }
        });
    }

    function editProduct() {
        // 商品图片
        var picture = $("#picture").val();
        if (picture == undefined || picture == "") {
            $.modal.alertError("请确认已经选择了商品图片并已上传！");
            return;
        }
        // 商品介绍
        var introduction = CKEDITOR.instances.spjs.getData();
        if (introduction == undefined || introduction == "") {
            $.modal.alertError("请先填写当前商品介绍再提交！");
            return;
        }
        $("#introductionEdit").val(introduction);
        if ($.validate.form()) {
            $.modal.confirm("确认保存当前商品信息吗？", function () {
                var url = prefix + "/edit";
                var data = $('#form-product-edit').serialize();
                var config = {
                    url: url,
                    type: "post",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        if (result.code != 0) {
                            $.modal.alertWarning(result.msg);
                        } else {
                            // 重新加载商品主页面数据
                            refreshParentIFramePage(DATA_ID.PRODUCT);
                            // 关闭当前TAB页面
                            closeCurrentTab("");
                        }
                    }
                };
                $.ajax(config);
            });
        }
    }

    // 初始化商品图片上传组件
    function initFileInputData() {
        var url = prefix + "/getProductImgs";
        var data = {"id": $("#id").val()};
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            success: function (res) {
                if (res && res.code && res.code == "0") {
                    $("#prodImgInput").fileinput('destroy');

                    var imgPaths = res.imgPaths, cfg = res.cfg;
                    // var uploadUrl = ctx + "product/picture/batchUpload";
                    var uploadUrl = ctx + "product/picture/batchUploadFocusMap";
                    initFileInputWithImgData("prodImgInput", uploadUrl, OBJECT_COUNT.PRODUCT_IMG, imgPaths, cfg);
                }
            }
        };
        $.ajax(config)
    }

    $(function () {
        // 初始化商品图片上传组件
        // var uploadUrl = ctx + "product/picture/batchUpload";
        var uploadUrl = ctx + "product/picture/batchUploadFocusMap";
        initFileInput("prodImgInput", uploadUrl, OBJECT_COUNT.PRODUCT_IMG);
        // 初始化商品图片上传组件图片数据
        initFileInputData();

        // 初始化商品介绍ekeditor组件
        CKEDITOR.config.extraPlugins = 'selectall,notification,notificationaggregator,widgetselection,filetools,lineutils,widget,uploadwidget,uploadimage';
        CKEDITOR.replace('spjs', {
            toolbar: null,
            toolbarGroups: null,
            removeButtons: null,
            height: 300
        });

        var ckEditorUploadUrl = ctx + "image/uploadImg";
        CKEDITOR.config.filebrowserImageUploadUrl = ckEditorUploadUrl; // 图片上传路径
        CKEDITOR.config.removeDialogTabs = 'image:advanced;image:Link'; // 移除图片上传页面的'高级','链接'页签
        CKEDITOR.config.uploadImgSupportedTypes = '/image\\/(jpeg|jpg|bmp|gif|png)/';
        CKEDITOR.config.image_previewText = "";
    });
</script>
</body>
</html>
