<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <!--查询区域-->
        <div class="col-sm-12 search-collapse">
            <form id="queryArea">
                <div class="select-list">
                    <ul>
                        <li>
                            服务名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <!--按钮区域-->
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="toAddServicePro()" shiro:hasPermission="mry:servicepro:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="mry:servicepro:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="mry:servicepro:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('mry:servicepro:edit')}]];
    var removeFlag = [[${@permission.hasPermi('mry:servicepro:remove')}]];
    var prefix = ctx + "mry/servicepro";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "服务项目",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '服务项目ID',
                    visible: true
                },
                {
                    field: 'name',
                    title: '服务项目名称',
                    sortable: false
                },
                {
                    field: 'shopName',
                    title: '所属店面',
                    sortable: false
                },
                {
                    field: 'serviceCircle',
                    title: '服务周期',
                    sortable: false
                },
                {
                    field: 'proDesc',
                    title: '项目功效描述',
                    sortable: false
                },
                {
                    title: '操作',
                    align: 'center',
                    sortable: false,
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="toEditServicePro(\'' + row.id +
                            '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    // 跳转至商品新增页面
    var toAddServicePro = function () {
        var url = prefix + "/add";
        var menuName = "添加服务项目";
        createMenuItem(url, menuName);
    }

    // 跳转至商品编辑页面
    var toEditServicePro = function (id) {
        var url = prefix + "/edit/" + id;
        var menuName = "修改服务项目";
        createMenuItem(url, menuName);
    }

</script>
</body>
</html>