<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/mry/mry.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="mry-customerinvest-add">
        <input id="initProIds" name="initProIds" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">所属店面：</label>
            <div class="col-sm-9">
                <select id="shopId" name="shopId" class="form-control m-b"
                        th:with="shops=${@mpcs.getShops()}" onchange="changeShop(this)">
                    <option value="">请选择...</option>
                    <option th:each="shop : ${shops}" th:text="${shop.name}" th:value="${shop.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">客户：</label>
            <div class="col-sm-9">
                <select id="customerId" name="customerId" class="form-control m-b"  onchange="changeCustomer(this)">
                    <option value="">请选择...</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">客户办理的消费卡号：</label>
            <div class="col-sm-9">
                <select id="cardId" name="cardId" class="form-control m-b">
                    <option value="">请选择...</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">客户充值金额：</label>
            <div class="col-sm-9">
                <input id="investPrice" name="investPrice" class="form-control" type="text" value="0">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">充值金额对应积分：</label>
            <div class="col-sm-9">
                <input id="customePoints" name="customePoints" class="form-control" type="text" value="0">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">充值金额对应消费次数：</label>
            <div class="col-sm-9">
                <input id="customeTimes" name="customeTimes" class="form-control" type="text" value="0">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">备注：</label>
            <div class="col-sm-9">
                <textarea cols="80" id="remark" name="remark" rows="5" style="width: 100%;"></textarea>
            </div>
        </div>

        <div class="form-group" style="text-align: center;">
            <label class="col-sm-3 control-label product-lable" style="margin-bottom: 30px;"></label>
            <div class="col-sm-9" style="margin-bottom: 30px;">
                <button type="button" class="btn btn-success" onclick="addCustomerCard()">确定</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" onclick="closeCurrentTabMry('1')">取消</button>
            </div>
        </div>
    </form>

</div>
<div th:include="include::footer"></div>
<script th:src="@{/mry/mry_common.js}"></script>
<script>
    var prefix = ctx + "mry/customerinvest";
    $("#mry-customerinvest-add").validate({
        rules: {
            shopId: {
                required: true
            },
            customerId: {
                required: true
            },
            cardId: {
                required: true
            },
            investPrice: {
                required: true
            }
        }
    });

    function addCustomerCard() {
        if ($.validate.form()) {
            $.modal.confirm("确认保存当前客户充值信息吗？", function () {
                var url = prefix + "/add";
                var data = $('#mry-customerinvest-add').serialize();
                var config = {
                    url: url,
                    type: "post",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        refreshParentIFramePageMry(DATA_ID.CUSTOMERINVEST);
                        // 关闭当前TAB页面
                        closeCurrentTabMry("");
                    }
                };
                $.ajax(config);
            });
        }
    }

    var changeCustomer = function (obj) {
        var customerId = obj.value;
        var shopId = $("#shopId").val();
        if (shopId && shopId !== '' && customerId && customerId !== '') {
            url = prefix + "/getCustomerCardsByShopCustomer";
            var data = {
                "shopId" : shopId,
                "customerId" : customerId
            };
            config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function (result) {
                    var options = '<option value="">请选择...</option>';
                    $("#cardId").html(options);
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var customerCard = result[i];
                            options = options + '<option value="' + customerCard.id + '">' + customerCard.id + '</option>';
                        }
                        $("#cardId").html(options);
                    }
                }
            };
            $.ajax(config);
        }
    };

    var changeShop = function (obj) {
        var shopId = obj.value;
        if (shopId && shopId != '') {
            // 1.查询选择店面下的客户
            var data = {
              "shopId" : shopId
            };
            var url = prefix + "/getCustomersByShopId";
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function (result) {
                    var options = '<option value="">请选择...</option>';
                    $("#customerId").html(options);
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var customer = result[i];
                            options = options + '<option value="' + customer.id + '">' + customer.name + '</option>';
                        }
                        $("#customerId").html(options);
                    }
                }
            };
            $.ajax(config);

            // 2.查询选择店面下的消费卡
//            url = prefix + "/getShopCardsByShopId";
//            config = {
//                url: url,
//                type: "post",
//                dataType: "json",
//                data: data,
//                success: function (result) {
//                    var options = '<option value="">请选择...</option>';
//                    $("#cardId").html(options);
//                    if (result && result.length > 0) {
//                        for (var i = 0; i < result.length; i++) {
//                            var shopCard = result[i];
//                            options = options + '<option value="' + shopCard.id + '">' + shopCard.name + '</option>';
//                        }
//                        $("#cardId").html(options);
//                    }
//                }
//            };
//            $.ajax(config);
        }
    };

    $(function () {

    });
</script>
</body>
</html>
