<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <!--查询区域-->
        <div class="col-sm-12 search-collapse">
            <form id="queryArea">
                <div class="select-list">
                    <ul>
                        <li>
                            客户名称：<input type="text" name="customerName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <!--按钮区域-->
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="toAddCustomerCard()" shiro:hasPermission="mry:customercard:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="mry:customercard:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="mry:customercard:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('mry:customercard:edit')}]];
    var removeFlag = [[${@permission.hasPermi('mry:customercard:remove')}]];
    var prefix = ctx + "mry/customercard";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "客户办卡",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '序号',
                    visible: true
                },
                {
                    field: 'shopName',
                    title: '所属店面',
                    sortable: false
                },
                {
                    field: 'customerName',
                    title: '客户名称',
                    sortable: false
                },
                {
                    field: 'cardId',
                    title: '消费卡ID',
                    sortable: false
                },
                {
                    field: 'serviceStart',
                    title: '消费卡有效期开始时间',
                    sortable: false
                },
                {
                    field: 'serviceEnd',
                    title: '消费卡有效期结束时间',
                    sortable: false
                },
                {
                    field: 'initProNames',
                    title: '客户初始化项目',
                    sortable: false
                },
                {
                    field: 'price',
                    title: '办卡预充值金额',
                    sortable: false
                },
                {
                    field: 'totalPoints',
                    title: '总积分',
                    sortable: false
                },
                {
                    field: 'leftPoints',
                    title: '剩余积分',
                    sortable: false
                },
                {
                    field: 'totalTimes',
                    title: '消费总次数',
                    sortable: false
                },
                {
                    field: 'leftTimes',
                    title: '剩余消费次数',
                    sortable: false
                },
                {
                    field: 'createTime',
                    title: '登记日期',
                    sortable: false
                },
                {
                    field: 'shopStaffName',
                    title: '登记员工',
                    sortable: false
                },
                {
                    title: '操作',
                    align: 'center',
                    sortable: false,
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="toEditCustomerCard(\'' + row.id +
                            '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    var toAddCustomerCard = function () {
        var url = prefix + "/add";
        var menuName = "添加客户办卡信息";
        createMenuItem(url, menuName);
    }

    var toEditCustomerCard = function (id) {
        var url = prefix + "/edit/" + id;
        var menuName = "修改客户办卡信息";
        createMenuItem(url, menuName);
    }

</script>
</body>
</html>