<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
<link th:href="@{/mry/mry.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="mry-customercard-edit" th:object="${customercard}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <input id="initProIds" name="initProIds" type="hidden" th:field="*{initProIds}">
        <input id="customerId2" name="customerId2" type="hidden" th:field="*{customerId}">
        <input id="cardId2" name="cardId2" type="hidden" th:field="*{cardId}">
        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">所属店面：</label>
            <div class="col-sm-9">
                <select id="shopId" name="shopId" class="form-control m-b"
                        th:with="shops=${@mpcs.getShops()}" onchange="changeShop(this)" th:field="*{shopId}">
                    <option value="">请选择...</option>
                    <option th:each="shop : ${shops}" th:text="${shop.name}" th:value="${shop.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">客户：</label>
            <div class="col-sm-9">
                <select id="customerId" name="customerId" class="form-control m-b" th:field="*{customerId}">
                    <option value="">请选择...</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">可供消费卡：</label>
            <div class="col-sm-9">
                <select id="cardId" name="cardId" class="form-control m-b" th:field="*{cardId}">
                    <option value="">请选择...</option>
                </select>
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="col-sm-3 control-label product-lable">卡片消费有效期开始时间：</label>
            <div class="col-sm-3 input-group date" style="margin-left: 15px;"><span class="input-group-addon"><i
                    class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="serviceStart" name="serviceStart" value="" th:field="*{serviceStartStr}" placeholder="选择日期">
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="col-sm-3 control-label product-lable">卡片消费有效期结束时间：</label>
            <div class="col-sm-3 input-group date" style="margin-left: 15px;"><span class="input-group-addon"><i
                    class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="serviceEnd" name="serviceEnd" value="" th:field="*{serviceEndStr}" placeholder="选择日期">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">可选服务项目：</label>
            <div class="col-xs-10">
                <label class="check-box" id="lblServicePros">
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">客户初始办卡充值金额：</label>
            <div class="col-sm-9">
                <input id="price" name="price" class="form-control" type="text" th:field="*{price}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">消费类型：</label>
            <div class="col-sm-9">
                <select id="customeType" name="customeType" class="form-control m-b" th:field="*{customeType}">
                    <option value="">请选择...</option>
                    <option value="0">积分制</option>
                    <option value="1">消费次数</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">总积分：</label>
            <div class="col-sm-9">
                <input id="totalPoints" name="totalPoints" class="form-control" type="text" th:field="*{totalPoints}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">消费总次数：</label>
            <div class="col-sm-9">
                <input id="totalTimes" name="totalTimes" class="form-control" type="text" th:field="*{totalTimes}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">项目消费相关说明：</label>
            <div class="col-sm-9">
                <textarea cols="80" id="proCustomeDesc" name="proCustomeDesc" rows="5" style="width: 100%;" th:field="*{proCustomeDesc}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">方案：</label>
            <div class="col-sm-9">
                <textarea cols="80" id="plan" name="plan" rows="5" style="width: 100%;" th:field="*{plan}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label product-lable">备注：</label>
            <div class="col-sm-9">
                <textarea cols="80" id="remark" name="remark" rows="5" style="width: 100%;" th:field="*{remark}"></textarea>
            </div>
        </div>

        <div class="form-group" style="text-align: center;">
            <label class="col-sm-3 control-label" style="margin-bottom: 30px;"></label>
            <div class="col-sm-9" style="margin-bottom: 30px;">
                <button type="button" class="btn btn-success" onclick="editCustomercard()">确定</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" onclick="closeCurrentTabMry('1')">取消</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/mry/mry_common.js}"></script>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "mry/customercard";
    $(".input-group.date").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        todayBtn: "linked",
        keyboardNavigation: !1,
        forceParse: !1,
        calendarWeeks: !0,
        autoclose: !0,
        initialDate: new Date(),
        language: "zh-CN"
    });

    $("#mry-customercard-edit").validate({
        rules: {
            shopId: {
                required: true
            },
            customerId: {
                required: true
            },
            cardId: {
                required: true
            },
            price: {
                required: true
            }
        }
    });

    function editCustomercard() {
        if ($.validate.form()) {
            $.modal.confirm("确认保存当前客户办卡信息吗？", function () {
                var url = prefix + "/edit";
                var initPros = '';
                var initProIds = $.form.selectCheckeds("servicePro");
                // 处理选中的服务项目对应的总次数和消费次数
                if (initProIds != undefined && initProIds != '') {
                    var selectedProIds = initProIds.split(',');
                    for (var i = 0, size = selectedProIds.length; i < size; i++) {
                        var proId = selectedProIds[i];
                        var serviceTotalCount = $("#serviceTotalCount" + proId).val();
                        var consumeTotalCount = $("#consumeTotalCount" + proId).val();
                        if (serviceTotalCount == undefined || serviceTotalCount == '' || consumeTotalCount == undefined || consumeTotalCount == '') {
                            $.modal.alertError("请完善选中项目后面的总次数或者消费次数");
                            return;
                        }
                        if (Number(serviceTotalCount) < Number(consumeTotalCount)) {
                            $.modal.alertError("选中项目存在后面的总次数小于消费次数，请核对后再保存");
                            return;
                        }
                        // 拼凑选中的每个项目对应的总次数和已经消费次数
                        initPros = initPros + (proId + "-" + serviceTotalCount + "-" + consumeTotalCount);
                        if (i != (size - 1)) {
                            initPros = initPros + ",";
                        }
                    }
                }
                $("#initProIds").val(initPros);

                var data = $('#mry-customercard-edit').serialize();
                var config = {
                    url: url,
                    type: "post",
                    dataType: "json",
                    data: data,
                    success: function (result) {
                        if (result.code != 0) {
                            $.modal.alertWarning(result.msg);
                        } else {
                            refreshParentIFramePageMry(DATA_ID.CUSTOMERCARD);
                            // 关闭当前TAB页面
                            closeCurrentTabMry("");
                        }
                    }
                };
                $.ajax(config);
            });
        }
    }

    var changeShop = function (obj) {
        var shopId = obj.value;
        if (shopId && shopId != '') {
            // 1.查询选择店面下的客户
            var data = {
                "shopId" : shopId
            };
            var url = prefix + "/getCustomersByShopId";
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function (result) {
                    var options = '<option value="">请选择...</option>';
                    $("#customerId").html(options);
                    var selectedId = $("#customerId2").val();
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var customer = result[i];
                            var selected = customer.id == selectedId;
                            options = options + '<option value="' + customer.id + '" selected="' + selected + '">' + customer.name + '</option>';
                        }
                        $("#customerId").html(options);
                    }
                }
            };
            $.ajax(config);

            // 2.查询选择店面下的消费卡
            url = prefix + "/getShopCardsByShopId";
            config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function (result) {
                    var options = '<option value="">请选择...</option>';
                    $("#cardId").html(options);
                    var selectedId = $("#cardId2").val();
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var shopCard = result[i];
                            var selected = shopCard.id == selectedId;
                            options = options + '<option value="' + shopCard.id + '" selected="' + selected + '">' + shopCard.name + '</option>';
                        }
                        $("#cardId").html(options);
                    }
                }
            };
            $.ajax(config);

            // 3.查询选择店面下的服务项目
            url = prefix + "/getServiceProsByShopId";
            config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function (result) {
                    var options = '';
                    $("#lblServicePros").html(options);
                    if (result && result.length > 0) {
                        // 每个项目对应的项目id、总次数、已经消费次数
                        var initProIds = $("#initProIds").val();
                        for (var i = 0; i < result.length; i++) {
                            var pro = result[i];
                            var checked = false;
                            var serviceTotalCount = '0', consumeTotalCount = '0';
                            if (initProIds && initProIds != "") {
                                var initProIdsArr = initProIds.split(',');
                                for (var j = 0; j < initProIdsArr.length; j++) {
                                    var proInfoArr = initProIdsArr[j].split("-");
                                    var proId = proInfoArr[0];
                                    if (pro.id == proId) {
                                        checked = true;
                                        serviceTotalCount = proInfoArr[1];
                                        consumeTotalCount = proInfoArr[2];
                                    }
                                }
                            }
                            if (checked) {
                                options = options + '<input name="servicePro" type="checkbox" value="'+ pro.id + '" checked="' + checked + '"/>' + pro.name + "&nbsp;";
                                //  当前项目对应的总次数
                                options = options + '<input type="input" style="width: 45px;" value="' + serviceTotalCount + '" id="serviceTotalCount'+ pro.id + '"/>';
                                options = options + "-";
                                // 当前项目对应的当前已经消费次数
                                options = options + '<input type="input" style="width: 45px;" value="' + consumeTotalCount + '" id="consumeTotalCount'+ pro.id + '"/>';
                            } else {
                                options = options + '<input name="servicePro" type="checkbox" value="'+ pro.id + '"/>' + pro.name + "&nbsp;";
                                //  当前项目对应的总次数
                                options = options + '<input type="input" style="width: 45px;" id="serviceTotalCount'+ pro.id + '"/>';
                                options = options + "-";
                                // 当前项目对应的当前已经消费次数
                                options = options + '<input type="input" style="width: 45px;" id="consumeTotalCount'+ pro.id + '"/>';
                            }
                            options = options + "&nbsp;&nbsp;&nbsp;";
                            // 指定特定个数个服务项目换行显示
                            if (i != 0 && i % 3 == 0) {
                                options = options + '</br></br>';
                            }
                        }
                        $("#lblServicePros").html(options);
                    }
                }
            };
            $.ajax(config);
        }
    };

    $(function () {
        var shopIdCtl = $("#shopId");
        shopIdCtl.trigger('change', changeShop(shopIdCtl));
    });
</script>
</body>
</html>
