<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="queryArea">
                <div class="select-list">
                    <li>
                        <li>
                            <label>店面： </label>
                            <select id="shopId" name="shopId"
                                    th:with="shops=${@mpcs.getShops()}" onchange="changeShop(this)">
                                <option value="">请选择...</option>
                                <option th:each="shop : ${shops}" th:text="${shop.name}" th:value="${shop.id}"></option>
                            </select>
                        </li>
                        <li>
                            <label>客户： </label>
                            <input type="text" width="50px;" placeholder="客人的名字" onblur="searchCustomer(this)"/>
                            <select id="customerId" name="customerId">
                                <option value="">请选择...</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>客户消费时间： </label>
                            <input type="text" class="time-input" id="startDate" placeholder="开始时间" name="startDate"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endDate" placeholder="结束时间" name="endDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" href="javascript:void(0);"
                               onclick="searchData()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset();"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <span style="color: red; font-weight: bold">提醒：请先选择"店面"、"客户"，再搜索，日期不选默认为最近一周</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped" style="width: 100%;height:80%;">
            <div id="customerProItem" style="width: 100%;height:100%;"></div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/mry/mry_common.js}"></script>
<script th:src="@{/echarts/echarts.min.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "mry/dataanalysis";
    var url = prefix + "/queryRecentCustomerInfo";

    // 初始化图表
    var initEChart = function (data) {
        var xAxisData = data.xaxisData;
        var seriesCustomerData = data.seriesCustomerData;
        customerProItemOption.xAxis[0].data = xAxisData;
        customerProItemOption.series[0].data = seriesCustomerData;

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('customerProItem'));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(customerProItemOption);
    }

    // 搜索接口
    var searchData = function () {
        var shopId = $("#shopId").val();
        var customerId = $("#customerId").val();
        if (shopId == '' || customerId == '') {
            return;
        }
        var data = {
            "shopId" : shopId,
            "customerId" : customerId,
            "startDate": $("#startDate").val(),
            "endDate": $("#endDate").val()
        }
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            success: function (result) {
                initEChart(result);
            }
        };
        $.ajax(config);
    };

    // 用户输入搜索客户
    var searchCustomer = function (obj) {
        var shopId = $("#shopId").val();
        if (!shopId || shopId == '') {
            $.modal.alertWarning("请先选择店面");
            return;
        }
        var customerName = obj.value;
        searchCustomerAjax(customerName, shopId);
    };

    var searchCustomerAjax = function (customerName, shopId) {
        var data = {
            "shopId" : shopId,
            "customerName" : customerName
        };
        var url = prefix + "/getCustomersByShopId";
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            success: function (result) {
                var options = '<option value="">请选择...</option>';
                $("#customerId").html(options);
                if (result && result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var customer = result[i];
                        options = options + '<option value="' + customer.id + '">' + customer.name + '</option>';
                    }
                    $("#customerId").html(options);
                }
            }
        };
        $.ajax(config);
    };

    var changeShop = function (obj) {
        var shopId = obj.value;
        if (shopId && shopId != '') {
            // 1.查询选择店面下的客户
            var data = {
                "shopId" : shopId
            };
            var url = prefix + "/getCustomersByShopId";
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function (result) {
                    var options = '<option value="">请选择...</option>';
                    $("#customerId").html(options);
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var customer = result[i];
                            options = options + '<option value="' + customer.id + '">' + customer.name + '</option>';
                        }
                        $("#customerId").html(options);
                    }
                }
            };
            $.ajax(config);
        }
    };

    $(function () {
        // 客户统计相关数据展示
        searchData();
    });
</script>
</body>
</html>