<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fac.mapper.BuyerBusinessMapper">
    
    <resultMap type="BuyerBusiness" id="BuyerBusinessResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="businessId"    column="business_id"    />
        <result property="businessProdId"    column="business_prod_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="operatorName"    column="operator_name"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>
	
	<sql id="selectBuyerBusinessVo">
        select id, user_id, business_id, business_prod_id, create_time, update_time, operator_id, operator_name, is_deleted from fac_buyer_business
    </sql>
	
    <select id="selectBuyerBusinessList" parameterType="BuyerBusiness" resultMap="BuyerBusinessResult">
        <include refid="selectBuyerBusinessVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="businessId != null "> and business_id = #{businessId}</if>
             <if test="businessProdId != null "> and business_prod_id = #{businessProdId}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="operatorId != null "> and operator_id = #{operatorId}</if>
             <if test="operatorName != null  and operatorName != '' "> and operator_name = #{operatorName}</if>
             <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
         </where>
        order by create_time desc
    </select>
    
    <select id="selectBuyerBusinessById" parameterType="Integer" resultMap="BuyerBusinessResult">
        <include refid="selectBuyerBusinessVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBuyerBusiness" parameterType="BuyerBusiness">
        insert into fac_buyer_business
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="businessId != null  ">business_id,</if>
			<if test="businessProdId != null  ">business_prod_id,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="operatorId != null  ">operator_id,</if>
			<if test="operatorName != null  and operatorName != ''  ">operator_name,</if>
			<if test="isDeleted != null  ">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="businessId != null  ">#{businessId},</if>
			<if test="businessProdId != null  ">#{businessProdId},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="operatorId != null  ">#{operatorId},</if>
			<if test="operatorName != null  and operatorName != ''  ">#{operatorName},</if>
			<if test="isDeleted != null  ">#{isDeleted},</if>
         </trim>
    </insert>
	 
    <update id="updateBuyerBusiness" parameterType="BuyerBusiness">
        update fac_buyer_business
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="businessId != null  ">business_id = #{businessId},</if>
            <if test="businessProdId != null  ">business_prod_id = #{businessProdId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="operatorId != null  ">operator_id = #{operatorId},</if>
            <if test="operatorName != null  and operatorName != ''  ">operator_name = #{operatorName},</if>
            <if test="isDeleted != null  ">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteBuyerBusinessById" parameterType="Integer">
        delete from fac_buyer_business where id = #{id}
    </delete>
	
    <delete id="deleteBuyerBusinessByIds" parameterType="String">
        delete from fac_buyer_business where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>