<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fac.mapper.FocusMapMapper">

    <resultMap type="FocusMap" id="FocusMapResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="sort" column="sort"/>
        <result property="picture" column="picture"/>
        <result property="jumpType" column="jump_type"/>
        <result property="jumpParams" column="jump_params"/>
        <result property="status" column="status"/>
        <result property="picView" column="pic_view"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="operatorId" column="operator_id"/>
        <result property="operatorName" column="operator_name"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="selectFocusMapVo">
        select id, title, sort, picture, jump_type, jump_params, status, pic_view, create_time, update_time, operator_id, operator_name, is_deleted from fac_focus_map
    </sql>

    <select id="selectFocusMapList" parameterType="FocusMap" resultMap="FocusMapResult">
        <include refid="selectFocusMapVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="title != null  and title != '' ">and title = #{title}</if>
            <if test="sort != null ">and sort = #{sort}</if>
            <if test="picture != null  and picture != '' ">and picture = #{picture}</if>
            <if test="jumpType != null ">and jump_type = #{jumpType}</if>
            <if test="jumpParams != null  and jumpParams != '' ">and jump_params = #{jumpParams}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="picView != null  and picView != '' ">and pic_view = #{picView}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="operatorId != null ">and operator_id = #{operatorId}</if>
            <if test="operatorName != null  and operatorName != '' ">and operator_name = #{operatorName}</if>
            <if test="isDeleted != null ">and is_deleted = #{isDeleted}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectFocusMapById" parameterType="Integer" resultMap="FocusMapResult">
        <include refid="selectFocusMapVo"/>
        where id = #{id}
    </select>

    <insert id="insertFocusMap" parameterType="FocusMap">
        insert into fac_focus_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="title != null  and title != ''  ">title,</if>
            <if test="sort != null  ">sort,</if>
            <if test="picture != null  and picture != ''  ">picture,</if>
            <if test="jumpType != null  ">jump_type,</if>
            <if test="jumpParams != null  and jumpParams != ''  ">jump_params,</if>
            <if test="status != null  ">status,</if>
            <if test="picView != null  and picView != ''  ">pic_view,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="operatorId != null  ">operator_id,</if>
            <if test="operatorName != null  and operatorName != ''  ">operator_name,</if>
            <if test="isDeleted != null  ">is_deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="title != null  and title != ''  ">#{title},</if>
            <if test="sort != null  ">#{sort},</if>
            <if test="picture != null  and picture != ''  ">#{picture},</if>
            <if test="jumpType != null  ">#{jumpType},</if>
            <if test="jumpParams != null  and jumpParams != ''  ">#{jumpParams},</if>
            <if test="status != null  ">#{status},</if>
            <if test="picView != null  and picView != ''  ">#{picView},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="operatorId != null  ">#{operatorId},</if>
            <if test="operatorName != null  and operatorName != ''  ">#{operatorName},</if>
            <if test="isDeleted != null  ">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateFocusMap" parameterType="FocusMap">
        update fac_focus_map
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="sort != null  ">sort = #{sort},</if>
            <if test="picture != null  and picture != ''  ">picture = #{picture},</if>
            <if test="jumpType != null  ">jump_type = #{jumpType},</if>
            <if test="jumpParams != null  and jumpParams != ''  ">jump_params = #{jumpParams},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="picView != null  and picView != ''  ">pic_view = #{picView},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="operatorId != null  ">operator_id = #{operatorId},</if>
            <if test="operatorName != null  and operatorName != ''  ">operator_name = #{operatorName},</if>
            <if test="isDeleted != null  ">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFocusMapById" parameterType="Integer">
        delete from fac_focus_map where id = #{id}
    </delete>

    <delete id="deleteFocusMapByIds" parameterType="String">
        update fac_focus_map
        set is_deleted = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>