<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fac.mapper.OrderMapper">
    <resultMap type="com.ruoyi.fac.model.FacOrder" id="OrderResult">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="prod_ids" jdbcType="VARCHAR" property="prodIds" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
        <result column="token" jdbcType="VARCHAR" property="token" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="user_score" jdbcType="SMALLINT" property="userScore" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="remark_mngt" jdbcType="VARCHAR" property="remarkMngt" />
        <result column="ship" jdbcType="TINYINT" property="ship" />
        <result column="ship_id" jdbcType="BIGINT" property="shipId" />
        <result column="ship_code" jdbcType="VARCHAR" property="shipCode" />
        <result column="cacel_id" jdbcType="BIGINT" property="cacelId" />
        <result column="cacel_name" jdbcType="VARCHAR" property="cacelName" />
        <result column="cacel_time" jdbcType="TIMESTAMP" property="cacelTime" />
        <result column="prepay_id" jdbcType="BIGINT" property="prepayId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
        <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    </resultMap>

    <resultMap id="orderProductResult" type="com.ruoyi.fac.model.FacOrderProduct">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="prod_id" jdbcType="BIGINT" property="prodId" />
        <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
        <result column="prod_number" jdbcType="SMALLINT" property="prodNumber" />
        <result column="inviter_id" jdbcType="BIGINT" property="inviterId" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="token" jdbcType="VARCHAR" property="token" />
        <result column="open_id" jdbcType="VARCHAR" property="openId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
        <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    </resultMap>

    <sql id="selectOrderVo">
        select main.id, main.order_no, main.status, main.pay_time, main.token,main.open_id, main.user_id, main.user_name, main.nick_name,
            main.remark, main.ship_id,main.user_score, main.ship_code, main.remark_mngt, main.ship, main.cacel_id, main.cacel_name,
            main.cacel_time, main.prepay_id,main.create_time, main.update_time, main.operator_id, main.operator_name, main.is_deleted
        from fac_order main
    </sql>

    <sql id="selectOrderProductVo">
        select id, order_no, prod_id, prod_name, prod_number, inviter_id,price,token,open_id,user_id,user_name,nick_name,create_time
        from fac_order_product orderProduct
    </sql>

    <select id="selectFacOrderProductList" parameterType="com.ruoyi.fac.domain.Order" resultMap="orderProductResult">
        select orderProduct.id, orderProduct.order_no, orderProduct.prod_id, orderProduct.prod_name, orderProduct.prod_number, orderProduct.inviter_id
            ,orderProduct.price,orderProduct.token,orderProduct.open_id,orderProduct.user_id,orderProduct.user_name,orderProduct.nick_name,orderProduct.create_time
        from fac_order_product orderProduct
        left JOIN fac_order main on main.order_no = orderProduct.order_no
        where orderProduct.is_deleted = 0 and main.is_deleted = 0
        <if test="orderNo != null and orderNo != ''">
            and orderProduct.order_no = #{orderNo}
        </if>
        <if test="prodName != null and prodName != ''">
            and orderProduct.prod_name like concat('%', #{prodName}, '%')
        </if>
        <if test="status != null  ">
            and main.status = #{status}
        </if>
    </select>

    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrder" parameterType="Order">
        insert into fac_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="orderNo != null  and orderNo != ''  ">order_no,</if>
            <if test="prodId != null  ">prod_id,</if>
            <if test="prodName != null  and prodName != ''  ">prod_name,</if>
            <if test="price != null  ">price,</if>
            <if test="status != null  ">status,</if>
            <if test="payTime != null  ">pay_time,</if>
            <if test="token != null  ">token,</if>
            <if test="openId != null  ">open_id,</if>
            <if test="userId != null  ">user_id,</if>
            <if test="userName != null  and userName != ''  ">user_name,</if>
            <if test="nickName != null  and nickName != ''  ">nick_name,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="shipId != null  ">ship_id,</if>
            <if test="shipCode != null  and shipCode != ''  ">ship_code,</if>
            <if test="remarkMngt != null  and remarkMngt != ''  ">remark_mngt,</if>
            <if test="ship != null  ">ship,</if>
            <if test="cacelId != null  ">cacel_id,</if>
            <if test="cacelName != null  and cacelName != ''  ">cacel_name,</if>
            <if test="cacelTime != null  ">cacel_time,</if>
            <if test="createTime != null  ">create_time,</if>
            <if test="updateTime != null  ">update_time,</if>
            <if test="operatorId != null  ">operator_id,</if>
            <if test="operatorName != null  and operatorName != ''  ">operator_name,</if>
            <if test="isDeleted != null  ">is_deleted,</if>
            <if test="prepayId != null  ">prepay_id,</if>
            <if test="inviterId != null  ">inviter_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="orderNo != null  and orderNo != ''  ">#{orderNo},</if>
            <if test="prodId != null  ">#{prodId},</if>
            <if test="prodName != null  and prodName != ''  ">#{prodName},</if>
            <if test="price != null  ">#{price},</if>
            <if test="status != null  ">#{status},</if>
            <if test="payTime != null  ">#{payTime},</if>
            <if test="token != null  ">#{token},</if>
            <if test="openId != null  ">#{openId},</if>
            <if test="userId != null  ">#{userId},</if>
            <if test="userName != null  and userName != ''  ">#{userName},</if>
            <if test="nickName != null  and nickName != ''  ">#{nickName},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="shipId != null  ">#{shipId},</if>
            <if test="shipCode != null  and shipCode != ''  ">#{shipCode},</if>
            <if test="remarkMngt != null  and remarkMngt != ''  ">#{remarkMngt},</if>
            <if test="ship != null  ">#{ship},</if>
            <if test="cacelId != null  ">#{cacelId},</if>
            <if test="cacelName != null  and cacelName != ''  ">#{cacelName},</if>
            <if test="cacelTime != null  ">#{cacelTime},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
            <if test="operatorId != null  ">#{operatorId},</if>
            <if test="operatorName != null  and operatorName != ''  ">#{operatorName},</if>
            <if test="isDeleted != null  ">#{isDeleted},</if>
            <if test="prepayId != null  ">#{prepayId},</if>
            <if test="inviterId != null  ">#{inviterId},</if>
        </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update fac_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null  and orderNo != ''  ">order_no = #{orderNo},</if>
            <if test="prodId != null  ">prod_id = #{prodId},</if>
            <if test="prodName != null  and prodName != ''  ">prod_name = #{prodName},</if>
            <if test="price != null  ">price = #{price},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="payTime != null  ">pay_time = #{payTime},</if>
            <if test="token != null  ">token = #{token},</if>
            <if test="openId != null  ">open_id = #{openId},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''  ">user_name = #{userName},</if>
            <if test="nickName != null  and nickName != ''  ">nick_name = #{nickName},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="shipId != null  ">ship_id = #{shipId},</if>
            <if test="shipCode != null  and shipCode != ''  ">ship_code = #{shipCode},</if>
            <if test="remarkMngt != null  and remarkMngt != ''  ">remark_mngt = #{remarkMngt},</if>
            <if test="ship != null  ">ship = #{ship},</if>
            <if test="cacelId != null  ">cacel_id = #{cacelId},</if>
            <if test="cacelName != null  and cacelName != ''  ">cacel_name = #{cacelName},</if>
            <if test="cacelTime != null  ">cacel_time = #{cacelTime},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="operatorId != null  ">operator_id = #{operatorId},</if>
            <if test="operatorName != null  and operatorName != ''  ">operator_name = #{operatorName},</if>
            <if test="isDeleted != null  ">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderByIds" parameterType="String">
        UPDATE fac_order
        set is_deleted = 0
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryRecentOrderInfo" parameterType="com.ruoyi.fac.vo.QueryVo" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where is_deleted = 0
        and DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
        and DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d')
    </select>

    <select id="countOrders" resultType="java.lang.Integer">
        select count(*)
        from fac_order
        where is_deleted = 0
        <if test="startDate != null">
            and DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d')
        </if>
        <if test="endDate != null">
            and DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
        </if>
    </select>

    <select id="orderList" parameterType="com.ruoyi.fac.vo.QueryVo" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where is_deleted = 0
        and token = #{token}
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="statuses != null and !statuses.isEmpty()">
            AND status IN
            <foreach item="item" index="index" collection="statuses" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by create_time desc
    </select>

    <update id="updateOrderStatus" parameterType="com.ruoyi.fac.vo.QueryVo">
        UPDATE fac_order
        set status = #{status}
        where is_deleted = 0 and token = #{token}
        <if test="orderNo != null and orderNo != ''.toString()">
            and order_no = #{orderNo}
        </if>
        <if test="orderIds != null and !orderIds.isEmpty()">
            and id in
            <foreach item="id" collection="orderIds" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <select id="selectOrderByIdAndToken" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id} and is_deleted = 0 and token = #{token}
    </select>

    <update id="updateOrderStatusAfterPayed">
        UPDATE fac_order
        set status = #{status}
        where order_no = #{orderNo}
    </update>

    <select id="selectProductsByProdAndStatus" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        left join fac_order_product orderProd on orderProd.order_no = main.order_no
        where main.is_deleted = 0
        <if test="prodIds != null and !prodIds.isEmpty()">
            AND orderProd.prod_id IN
            <foreach item="item" index="index" collection="prodIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="status != null and !status.isEmpty()">
            AND main.status IN
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by create_time desc
    </select>
</mapper>